$primary-color1:#008000;

*{
    margin: 0px;
    padding: 0px;
    color:#636363;
    font-family:'Lato', "Helvetica Neue", helvetica, arial, sans-serif; 
    box-sizing: border-box;
    line-height: 1.7;
}
html{
    font-size: 10px;
}

.center-text{
    text-align: center;
}

.container{
    padding:10px 15px;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle-nav{
    padding: 6px;
    border-radius: 6px;
    background: white;
    &:hover{
        cursor: pointer;
    }
    div{
        width: 20px;
        height:3px;
        border-radius: 50px;
        background: $primary-color1;
        margin-bottom: 3px;
    }
}

.fa-search{
    font-size: 1.6rem;
    font-weight: 100;
}

img{
    width: 100%;
}