<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../css/style.css">
    <title><%= title %>|Kinsluven</title>
</head>

<body>
    <header>
        <div class="center-text container">
            <h1>
                KinsLuven
            </h1>
        </div>
        <div class="flex-between">
        <div class="container">
            <div>
                <i class="fa fa-search"></i>
            </div>
        </div>
        <div class="toggle-nav">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    </header>
    <main>
        <section class="container">
            <h2>About KinsLuven</h2>
            <p>We Are Passionate And Always Produce Better Results For Interiors.</p>
        </section>
        <section class="container">
            <p>
                Sit eit malis civibus kase iuvaret blandit no nec, ipsum volumus indis aissentias referrentur vix euno utamur vivendo interpretaris quo
Beyond more stoic this along goodness hey this this wow manatee mongoose one as since a far flustered impressive manifest far crud opened inside owing punitively around forewent and after wasteful telling sprang coldly and spoke less clients. Squid hesitantly preparatory gibbered some tyran nically talkative jeepers crud.
            </p>
        </section>
        <section>
            <h2>Products</h2>
            <div>
                <h3>IRONING BOARDS WITH VARIOUS
                    SIZES 48X15, 48X16, 48X18, 48X20</h3>
                <div>
                    <img src="../images/ironing board1.jpg" alt="">
                </div>
               

            </div>
        </section>
        <section>
            <h3>DISCOVER VARIETIES OF MILTON CAMP BEDS
                MADE WITH EXTRA QUALITY MATERIALS FROM
                KINSLUVEN ENTERPRISES</h3>
            <div>
                <img src="../images/camp bed1.jpg" alt="">
            </div>
            
        </section>

        <section>
            <h3>PRESTIGE
                FOLDING SIT</h3>
            <div>
                <img src="../images/folding sit1.jpg" alt="">
            </div>
            
        </section>


        <section>
            <h3>SUPERKINS HIGH QUALITY
                MOTHER CARE BABY PRODUCTS</h3>

                <div>
                    <img src="../images/baby hanger2.jpg" alt="">
                </div>
        </section>
    </main>

    <footer>
        <section>
            <h2>KinsLuven</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati pariatur est eaque quam laboriosam et commodi soluta illo doloremque? Laboriosam aliquid quibusdam atque excepturi ea, ut, possimus fugiat tempora, cumque delectus natus! Enim cum omnis id nihil maxime fugit doloribus fuga, dolorum consequatur unde sunt reprehenderit vel eos eligendi voluptatem.</p>
        </section>
        <section class="contact">
            <address>
                <div>
                <span>Address: </span> <span>H line No. 29 Ariaria International Market Aba, Abia State.</span>
            </div>
            <div>
                <span>Phone: 

                </span>
                <span>
                    08034476152, 08187851188, 08032612404
                </span>
            </div>
            <div>
                <span>
                    Email:
                </span>
                <span>
                    kinsluvenenterprise@gmail.com
                </span>
            </div>
            </address>
        </section>
    </footer>
    

</body>

</html>