<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>|Kinsluven</title>
</head>

<body>
    <h1>This is what i emat</h1>

</body>

</html>